<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring</title>
</head>
<body>
1.) select a query for seeing "requested Service" between time range (from date - to date)..
<br>
<form id="SubmitDates" method="POST" enctype="/AdminMonitor" >
    <h1>From</h1>
    <input name="from" type="date">
    <h1>To</h1>
    <input name="to" type="date">
    <input type="submit" value="submit"/>
</form>
</body>
</html>