<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row" >
        <div  class="col-sm-4">

            <h1>Admin Log-in !!</h1>
            <form id="SubmitDates" method="POST" enctype="/AdminMonitor">
                <div class="form-group">
                    <h3>Welcome.</h3>
                    <label for="from">Usename:</label>
                    <input type="text" class="form-control" id="from"  name="usernames">
                </div>
                <div class="form-group">
                    <label for="to">Password:</label>
                    <input type="password" class="form-control" id="to"  name="passwords">
                </div>

                <button type="submit" value="submit" class="btn btn-default">Log-in</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
