<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../parser.js"></script>
</head>
<body>
<h1>TODO</h1>
<tr>
    <th>Request_name</th>
    <th>date</th>
</tr>
<tr id = "table">
</tr>

</body>
</html>