<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged-Out!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/adminDesign.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="jumbotron">
    <div class="container text-center">
        <img src="/main-logo.png" alt="main-logo" height="200px" width="200px">
        <h1>SLU-GEEKS Pet Services</h1>
        <p>Where your pet matters.</p>
    </div>
</div>
<!-- Navigations -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="Login">Sign-in</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-full">
    <div class="row" >
        <div  class="col-sm-12">
            <ul class="loggedOutContent">
                <li><h1>Successfully Logged-Out!</h1><p align="center">See you soon.</p></li><br>
                <li><img src="/pet-lout.png" alt="logged-out" style="width: 500px;height: 500px"></li><br><br>
            </ul>
        </div>
    </div>
</div>


<footer class="copyright">
    <div >
        <p>© 2017 - All Rights with SLU-GEEKS Pet Services</p>
    </div>
</footer>
</body>
</html>
